name: Build Libgphoto2 Final
on: [workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Mulai Kompilasi Android (Gradle)
        run: |
          chmod +x gradlew
          ./gradlew :camera:assembleDebug \
            -Porg.gradle.jvmargs="-Xmx4096m" \
            --stacktrace
        env:
          CFLAGS: "-Wno-error=deprecated-non-prototype -Wno-error=implicit-function-declaration -Wno-error=incompatible-pointer-types"
          CXXFLAGS: "-Wno-error=deprecated-non-prototype -Wno-error=implicit-function-declaration -Wno-error=incompatible-pointer-types"

      - name: Panen File .so
        run: |
          mkdir -p panen_so
          find camera/build -name "*.so" -type f | while read file; do
            arch_folder=$(basename $(dirname "$file"))
            if [[ "$arch_folder" == "arm64-v8a" || "$arch_folder" == "armeabi-v7a" || "$arch_folder" == "x86" || "$arch_folder" == "x86_64" ]]; then
              mkdir -p "panen_so/$arch_folder"
              cp "$file" "panen_so/$arch_folder/"
            fi
          done
          echo "Hasil Panen File .so:"
          ls -R panen_so

      - name: Upload File ZIP
        uses: actions/upload-artifact@v4
        with:
          name: libgphoto2-android-berhasil
          path: panen_so/
