name: Build Libgphoto2 Final
on: [workflow_dispatch] 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          submodules: recursive # Memastikan folder C++ ikut terunduh

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: '17' # Standar Android Studio modern
          distribution: 'temurin'

      - name: Mulai Kompilasi Android (Gradle)
        run: |
          chmod +x gradlew
          ./gradlew :camera:assembleDebug --stacktrace

      - name: Panen File .so
        run: |
          mkdir -p panen_so
          
          # Mencari secara spesifik di dalam hasil build modul 'camera'
          find camera/build -name "*.so" -type f | while read file; do
            # Mengambil nama folder arsitekturnya (arm64-v8a, armeabi-v7a, dll)
            arch_folder=$(basename $(dirname "$file"))
            
            # Abaikan folder yang bukan target arsitektur Android
            if [[ "$arch_folder" == "arm64-v8a" || "$arch_folder" == "armeabi-v7a" || "$arch_folder" == "x86" || "$arch_folder" == "x86_64" ]]; then
              mkdir -p "panen_so/$arch_folder"
              cp "$file" "panen_so/$arch_folder/"
            fi
          done
          
          echo "Hasil Panen File .so:"
          ls -R panen_so

      - name: Upload File ZIP
        uses: actions/upload-artifact@v4
        with:
          name: libgphoto2-android-berhasil
          path: panen_so/
