name: Build libgphoto2 for Android
on: [workflow_dispatch] 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Siapkan Android NDK
        uses: nttld/setup-ndk@v1
        id: setup-ndk
        with:
          ndk-version: r25c # Versi NDK yang stabil

      - name: Mulai Rakit Library
        run: |
          # Hubungkan sistem NDK
          export NDK_PATH=${{ steps.setup-ndk.outputs.ndk-path }}
          export ANDROID_NDK_ROOT=${{ steps.setup-ndk.outputs.ndk-path }}
          export ANDROID_NDK_HOME=${{ steps.setup-ndk.outputs.ndk-path }}
          
          # Beri izin jalankan skrip
          chmod +x *.sh
          
          # Eksekusi skrip bawaan dari repositori
          ./build.sh

      - name: Simpan Hasil (Upload Artifact)
        uses: actions/upload-artifact@v4
        with:
          name: libgphoto2-android-so
          path: |
            libs/
            build/
