name: Intip Isi Folder
on: [workflow_dispatch] 

jobs:
  investigasi:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Laporan Isi File
        run: |
          echo "1. DAFTAR FILE UTAMA:"
          ls -la
          echo "======================================="
          echo "2. MENCARI SCRIPT BUILD:"
          find . -name "*.sh"
          find . -name "gradlew"
          echo "======================================="
          echo "3. MENCARI SISTEM C++:"
          find . -name "CMakeLists.txt"
          find . -name "Android.mk"
