name: Build Libgphoto2 Final
on: [workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Fase 1 - Setup Java 17 (Khusus untuk Download NDK)
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Paksa Eksekusi NDK Lawas (Versi 21)
        run: |
          # Hapus NDK versi baru yang galak
          rm -rf $ANDROID_HOME/ndk/*
          
          # Install NDK 21 dengan Java 17
          echo "y" | $ANDROID_HOME/cmdline-tools/latest/bin/sdkmanager --install "ndk;21.4.7075529"
          
          # Suntikkan versi NDK ke file konfigurasi
          echo "" >> camera/build.gradle
          echo "android { ndkVersion \"21.4.7075529\" }" >> camera/build.gradle

      - name: Fase 2 - Turunkan ke Java 11 (Khusus untuk Compile Gradle)
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Mulai Kompilasi Android (Gradle)
        run: |
          chmod +x gradlew
          ./gradlew :camera:assembleDebug --stacktrace

      - name: Panen File .so
        run: |
          mkdir -p panen_so
          find camera/build -name "*.so" -type f | while read file; do
            arch_folder=$(basename $(dirname "$file"))
            if [[ "$arch_folder" == "arm64-v8a" || "$arch_folder" == "armeabi-v7a" || "$arch_folder" == "x86" || "$arch_folder" == "x86_64" ]]; then
              mkdir -p "panen_so/$arch_folder"
              cp "$file" "panen_so/$arch_folder/"
            fi
          done
          echo "Hasil Panen File .so:"
          ls -R panen_so

      - name: Upload File ZIP
        uses: actions/upload-artifact@v4
        with:
          name: libgphoto2-android-berhasil
          path: panen_so/
