name: Build libgphoto2 for Android
on: [workflow_dispatch] 

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Build dengan Docker
        run: |
          docker build -t libgphoto2-android-build .
          docker create --name gphoto_temp libgphoto2-android-build
          docker cp gphoto_temp:/build/output ./hasil_so
          docker rm gphoto_temp

      - name: Simpan Hasil (Upload Artifact)
        uses: actions/upload-artifact@v4
        with:
          name: libgphoto2-android-so
          path: ./hasil_so/
